/* General Styles */
.product-item-info .product-item-title,
.product-item-info .product-item-price span,
.product-item-info .product-item-price span.product-item-origin-price,
.filter-button > div,
.base-collapse-item__header .base-collapse-item__title {
  font-size: 13px;
  font-weight: 200;
}

.product-item-info .product-item-price span,
.product-item-info .product-item-price span.product-item-origin-price {
  line-height: 1;
}

.collections-menu-item,
.--mega-menu-nav-font-size {
  font-size: 14px !important;
  color: #000000;
}

.collections-menu-item {
  margin-right: 30px;
  text-transform: none !important;
  font-weight: 400;
  letter-spacing: 0;
}

.collection-title {
  font-size: 35px;
  text-align: left;
  width: 100%;
  padding: 0 48px;
  font-family: "Roslindale Display Condensed";
}

@media (max-width: 768px) {
  .collection-title {
    text-align: center;
    padding: 0;
  }

  .desc {padding-top: 10px !important;}
}

.collection-info {

  padding-bottom: 0;
  align-content: bottom;
}

.filter-button {
  background: #fff;
}

.product-preview-container {
  padding: 0 !important;
  margin: 0 !important;
}

/* New rule */
.product-preview-container .product-preview-row .product-detail-sticky {
  top: 300px;
  width: 400px;
  margin: auto;
}

.base-collapse-item__header .base-collapse-item__title {
  padding: 5px;
  text-transform: none;
  border-bottom: solid;
    border-bottom-color: #e6e6e6;
    border-bottom-width: thin;
  
}

.center-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

.body3 {font-size: 13px !important;}



.product-crumbs-image-top.product-crumbs-layout-image_top_left {
  text-transform: uppercase !important;
        letter-spacing: .5px !important;
}

.base-collapse-item__content {margin: 10px !important;
                             font-family: PP Neue Montreal;
                              font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.96px !important;
    line-height: 1.5;
                            }

.product-title h1 {font-size: 20px !important; }

.product-price .price .product-origin-price.font_size_small, .product-price .price .product-sales-price.font_size_small {font-size: 13px !important;}

@media (max-width: 749.98px) {
    .collections-menu-item {
        font-size: 12px;
        text-transform: none !important; }

@media (max-width: 749.98px) {
    .collections-menu-tabs {
        width: calc(100% - 10px);
        height: 59px;
        overflow-x: scroll;
        white-space: nowrap;
        -ms-overflow-style: none;
        scrollbar-width: none;
        margin: 0 0 0 10px;
        border-bottom: 2px #F3F3F3 solid;
        display: flex;
        align-items: center;
        background: #FEFEFE;
        position: sticky;
        top: 85px !important;
        z-index: 10;
